.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-form {
  margin-bottom: 50px;
}

.App-form * {
  margin: auto auto 20px;
}

.App textarea, .App input[type="text"], .App button {
  display: block;
}

.App-wip {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent url('img/loading-default.gif') no-repeat center center;
  background-size: 180px 180px;
}

.App-balances {
  margin: auto;
  padding: 10px;
  border: black 1px solid;
  border-radius: 10px;
}

.App-balances td {
  padding: 10px;
}